{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="section volunteering-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-refresh fa-stack-1x fa-inverse"></i>
    </span>
    {{ volunteering.title }}
  </h2>

  {% for entry in volunteering.items %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="volunteering-role">
            {{ entry.role }}
        </h3>
        <div class="time">
            {{ entry.time }}
        </div>
      </div><!--//upper-row-->

      <div class="volunteering-institution">
        {{ entry.institution }}
    </div>

    </div><!--//meta-->

    {% if entry.details %}
    <div class="details">
      {{ entry.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

